<a href="https://colab.research.google.com/github/BrunoSantosTI/PA_python/blob/main/Aula%20PA_1C/6__ExerciciosPraticos_conte%C3%BAdo_at%C3%A9_listas_tuplas_dicionarios_BrunoFereira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exercício 1 inserir os seus dados acima em variáveis
## entrada
nome = str(input('Digite o seu nome: '))
turma = (input('Digite a sua turma'))

print('O seu nome é',nome, ', e sua turma é', turma)

Digite o seu nome: sduyf ds
Digite a sua turmafjsdtguifg
O seu nome é sduyf ds e sua turma é fjsdtguifg

In [6]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
## entrada
nome = 'Bruno Ferreira'
turma='Manhã'

##processamento e saída
print(nome[6:])

Ferreira

In [8]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome = 'Bruno Ferreira'
turma='Manhã'

##processamento e saída
print(nome[::-1])

arierreF onurB

In [9]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
##entrada
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."

##processamento e saída
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [18]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
##entrada
for i in range(0,11):
  print (i)

num = [i]

print (num)

0
1
2
3
4
5
6
7
8
9
10
[10]

In [15]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela

objetos = ['teclado', 'mouse', 'monitor', 'pendrive', 'cpu']

print (objetos)

['teclado', 'mouse', 'monitor', 'pendrive', 'cpu']

In [20]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
##entrada
nome1 = str(input('Digite o seu nome: '))
nome2 = str(input('Digite o segundo nome: '))

## procesamento e saída
print(nome1, nome2)

Digite o seu nome: Bruno F
Digite o segundo nome: Arthur F
Bruno F Arthur F

In [22]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

numeros = ('1', '2', '2', '3', '4', '4', '4', '5')

numeros.count('4')

3

In [35]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela

meudicionario = {

}

print(meudicionario)

{}

In [37]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
meudicionario = {
    'nome':'Bruno',
    'idade' : 15,
    'notas' : [10, 9, 10]


}

print(meudicionario)

{'nome': 'Bruno', 'idade': 15, 'notas': [10, 9, 10]}

In [39]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

meudicionario['estado'] = 'sp'

print(meudicionario)

{'nome': 'Bruno', 'idade': 15, 'notas': [10, 9, 10], 'estado': 'sp'}

In [40]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
dicionario2 = {
    'nomes':['Bruno','Roberto'],
    'idades':[11,15],
    'notas':[10,9]
}

print(dicionario2)

{'nomes': ['Bruno', 'Roberto'], 'idades': [11, 15], 'notas': [10, 9]}

In [42]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

elementos = [
    'marcio',
    ('2', '3'),
    {'cidade' : 'Ribeirão','gosto' : 'strogonoff'},
    1.0


]

print(elementos)

['marcio', ('2', '3'), {'cidade': 'Ribeirão', 'gosto': 'strogonoff'}, 1.0]

In [23]:

# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
print(frase[1:18])

ientista de Dados

In [24]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [28]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
print(txt[0:1])

H

In [30]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
print(x[2:5])

llo

In [32]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
print(txt.upper())

HELLO WORLD

In [33]:
# - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [34]:
# - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
print(txt.split(','))

['Eu gosto de vijar', ' tomar vinho', ' de estudar estudar programação', ' de estudar Pyhon']